@use '@styles/base/tokens' as *;

.button {
  padding: 12px 24px;
  width: max-content;
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  background-color: $accent;
  color: white;
  border-radius: 50px;
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  background-color: white;
  color: $accent;
  border-radius: 50px;
}

.ghost {
  padding: 0;
}

.icon {
  padding: 0;
  font-size: 20px;
  color: $neutral-400;
}

@media (min-width: 481px) {
  .primary {
    width: max-content;
  }
  .secondary {
    width: max-content;
  }
}
