@use '@styles/base/tokens' as *;

.federalProject {
  padding: 80px 0;
  position: relative;

  & > picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    & > img {
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 72px;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  align-items: center;
}

.title {
  font-size: $h1;
  font-weight: 900;
  margin-bottom: 0;
}

.descriptions {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;

  p {
    font-size: $body-large;
  }
}

@media (min-width: 1025px) {
  .inner {
    text-align: left;
    align-items: start;
  }

  .descriptions {
    justify-content: start;
  }
}
