:global(.lazy-section) {
  min-height: 300px;
}

.animate {
  opacity: 0;
  transition: all 0.6s ease;
  will-change: transform, opacity;
}

.fade-up {
  transform: translateY(40px);
}

.fade-right {
  transform: translateX(-40px);
}

.fade-left {
  transform: translateX(40px);
}

.zoom-in {
  transform: scale(0.9);
}

/* состояние при появлении */
.visible {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
