@use '@styles/base/tokens' as *;

.mobileMenu {
  position: fixed;
  top: 92px;
  right: -1000px;
  background-color: $neutral-50;
  width: 100%;
  height: calc(100dvh - 92px);
  border-top: 1px solid $neutral-200;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1000;

  &.open {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}

.mainMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px 15px;
  gap: 12px;
  font-weight: 700;

  a {
    color: $neutral-700;
  }
}

.secondMenu {
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  a {
    color: $neutral-700;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid $neutral-700;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  transition: all 0.3s ease;

  &.open {
    svg {
      transform: rotate(90deg);
    }
  }
}

.dropdown {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-10px);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 12px;
  padding-left: 15px;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 24px;
  }
}
