// typography

$font-main: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

// Headings
$h1: clamp(32px, 5vw, 40px);
$h2: clamp(26px, 4vw, 32px);
$h3: clamp(20px, 3vw, 24px);

// Main text
$body-large: clamp(16px, 1.5vw, 20px);
$body: clamp(14px, 1.5vw, 16px);
$caption: clamp(12px, 1vw, 14px);


$fs-sm: 12px;
$fs-md: 20px;
$fs-lg: 24px;
$fs-xl: 32px;
$fs-2xl: 40px;
$fs-3xl: 46px;

$fw-n: 400;
$fw-m: 500;
$fw-sm: 600;
$fw-b: 700;
$fw-exb: 800;

$lh-110: 1.1;
$lh-120: 1.2;
$lh-130: 1.3;
$lh-140: 1.4;
$lh-150: 1.5;
