@use '@styles/base/tokens' as *;

.news {
  padding-top: clamp(50px, 5vw, 70px);
  padding-bottom: clamp(50px, 5vw, 70px);
  background-color: #fff;
  border-top: 1px solid $neutral-200;
  border-bottom: 1px solid $neutral-200;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 50px;
  text-align: left;

  .card {
    display: grid;
    grid-template-rows: auto 1fr auto;

    picture,
    img {
      width: 100%;
    }

    img {
      margin-bottom: 20px;
    }

    .head {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 24px;
    }

    h3 {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        color: $neutral-700;
      }
    }

    time {
      font-size: $fs-sm;
      font-weight: $fw-b;
      text-transform: uppercase;
      color: $neutral-500;
      flex: 1;
    }

    p {
      display: -webkit-box;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $body;
    }
  }
}

@media (min-width: 481px)  {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (min-width: 1025px) {
  .news {
    text-align: left;
  }

  .cards {
    .card {
      picture,
      img {
        position: relative;
        overflow: hidden;
        transition: all 0.8s ease;
        max-height: 300px;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          opacity: 0;
          transition: all 0.8s ease;
        }
      }

      a {
        transition: all 0.3s ease;

        &:hover {
          color: $accent;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
        picture,
        img {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
