@use '@styles/base/tokens' as *;

html,
body {
  overflow-x: hidden;

  &.lock {
    overflow: hidden !important;
  }
}

body {
  font-family: $font-main;
  font-display: swap;
  color: $neutral-700;
  background-color: $neutral-50;
}

svg {
  display: block;
  min-width: 20px;
  transition: all 0.3s ease;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.page > * {
  margin-bottom: 70px;
}

._title-1 {
  font-size: $h1;
  font-weight: $fw-exb;
  color: $accent;
}

._title-2 {
  font-size: $h2;
  font-weight: $fw-b;
  margin-bottom: 50px;
}

._title-3 {
  font-size: $h3;
  font-weight: $fw-b;
}

._caption {
  font-size: $caption;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


